body {
    background-color :aqua;
}
header{
    float: left;
    margin-left: 20px;
    margin-right: 35px;
    color:tomato;
    text-shadow: 25px 25px 25px #000066  ;

}
h2{
    color: darkred;
    text-shadow: 25px 25px 25px black ;
}
nav li{
    list-style: none;
    
}

p{
    color: hsl(240, 100%, 20%) ;

}



footer h4{
   color:dimgrey;
    

}